
EN
splitter="/usr/share/nltk_data/tokenizers/punkt/english.pickle"
tagger="/models/english_proj_tagger.model"
parser="/models/english_proj_parser_pruned-true_model-full.model"

#EN-Nonprojective
#splitter="tokenizers/punkt/english.pickle"
#tagger="/opt/TurboParser/models/english_proj/english_proj_tagger.model"
#entity_recognizer="/opt/TurboParser/ner/models/english/english_entity_recognizer.model"
#parser="/opt/TurboParser/models/english/english_parser_pruned-true_model-standard.model"
#semantic_parser="/opt/TurboParser/srl/models/english/english_semantic_parser_conll2008_pruned-false_model-basic_syntax-true_C-0.01_fp-0.4_fn-0.6.model"
#coreference_resolver="/opt/TurboParser/coreference_resolver/models/english_ontonotes_conll2012/english_ontonotes_conll2012_coreference_resolver.model"
#lemmatizer="/opt/TurboParser/models/english/english_lemmatizer.model"

#EN-Universal
#splitter="tokenizers/punkt/english.pickle"
#tokenizer="en"
#tagger="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_tagger.model"
#parser="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_parser_pruned-true_model-standard.model"
#morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_English/en-ud-normalized_morphological_tagger.model"
#lemmatizer="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_lemmatizer.model"
